@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);

@media screen and (max-width: 995px),
screen and (max-height: 700px) {
    .banner-home {
        background-image: url('https://cdn.hipwallpaper.com/i/50/34/wjoQmu.jpg');
        background-position: center center;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0.95;
        z-index: 10;
        background-attachment: fixed;
        /* position: fixed;      */
        min-width: 100%;
        min-height: 100%;
        padding-left: 35%;
        padding-top: 2%;
        padding-bottom: 11%;
    }
}


.container-fluid {
    margin-left: 20px;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    height: 100;
}

#title {
    color: darkcyan;
}

.nav-wrapper {
    background: rgb(0, 78, 142);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, rgb(0, 125, 142));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, rgb(0, 133, 142));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
    font-family: 'Work Sans', sans-serif;
}

.card {
    align-content: center;
    width: 150%;
    height: 150%;
}

.avatar img {
    margin-top: 10%;
    /* width: 50%; */
    /* height: 50%; */
    border-radius: 10%;
}

#information {
    padding-top: 3%;
}

#project {
    height: 50%;
    width: 50%;
}

.project-title {
    line-height: 0.5;
    text-align: center;
}

a {
    text-decoration: none;
}

.project-title span {
    display: inline-block;
    position: relative;
}

.project-title span:before,
.project-title span:after {
    /* content: ""; */
    position: absolute;
    height: 5px;
    border-bottom: 1px solid rgb(3, 0, 0);
    border-top: 1px solid rgb(0, 0, 0);
    top: 0;
    width: 50%;
}

.project-title span:before {
    right: 100%;
    margin-right: 15px;
}

.project-title span:after {
    left: 100%;
    margin-left: 15px;
}

.card {
    margin: 15%;
    width: 100%;
}

.card-title {
    margin-left: 50%;
    margin-top: 0;

}

#card-t {
    color: black;
}

.page-footer {
    background: rgb(0, 109, 142);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, rgb(0, 125, 142));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, rgb(0, 102, 142));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#github,
#facebook,
#linkedin {
    padding-left: 10%;
}

h3 {
    font-family: 'Old Standard TT', serif;
}

.text-align:center {
    left: 100%;
    margin-left: 15px;
}


/* styling my skills section */